[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
certifi = "==2018.4.16"
chardet = "==3.0.4"
idna = "==2.6"
sendgrid = "==5.3.0"
"urllib3" = "==1.22"
python_http_client = "==3.0.0"
requests = "*"

[dev-packages]

[requires]
python_version = "3.7"
